services:
  swag:
    image: lscr.io/linuxserver/swag:latest
    container_name: swag
    cap_add:
      - NET_ADMIN
    env_file:
      - .env
    volumes:
      - ./config:/config
      - ./custom-cont-init.d:/custom-cont-init.d:ro
    ports:
      - 443:443
      - 80:80 #optional
      - 993:993
      - 465:465
      - 25:25
    restart: unless-stopped
    networks:
      - public_ingress
      - default
  vouch:
    image: voucher/vouch-proxy:latest
    container_name: vouch
    env_file:
      - .env_vouch
    restart: unless-stopped
    networks:
      - default

networks:
  public_ingress:
    name: public_ingress
    driver: bridge
